.keycap-container {
    flex: 1;
    height: 60px;
    margin: 8px 15px;
    background: transparent;
}

.keycap-button {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    color: var(--white-color);
    box-shadow: 0 2px 6px 2px var(--tertiary-dark-color);
    padding: 10px;
    display: flex;

    & span {
        --indent-height: 95%;
        color: var(--white-color);
        font-family: "Tiny5", sans-serif;
        font-weight: 600;
        font-size: 18pt;
        text-align: center;
        border-radius: 22px;
        width: 100%;
        text-shadow: var(--primary-dark-color) 0 2px 2px;
        display: block;
        padding: 0 10px;
    }

    &:hover {
        scale: 0.96;
        box-shadow: 0 4px 8px 4px var(--tertiary-dark-color);
        filter: saturate(120%)
    }

    &:active {
        scale: 0.9;
        box-shadow: 0 4px 12px 4px var(--tertiary-dark-color);
        filter: saturate(120%) brightness(120%);
    }
}

.primary {
    background: linear-gradient(var(--secondary-color), var(--primary-color));

    & span {
        background: linear-gradient(var(--primary-color), var(--secondary-color));
    }
}

.secondary {
    background: linear-gradient(var(--secondary-color), var(--tertiary-color));

    & span {
        background: linear-gradient(var(--tertiary-color), var(--secondary-color));
    }
}