@tailwind base;
@tailwind components;
@tailwind utilities;

.root, #root, #docs-root {
    --primary-color: #7e70ca;
    --secondary-color: #e99df5;
    --tertiary-color: #a85fb4;
    --primary-light-color: #b2a5ff;
    --secondary-light-color: #f8c8ff;
    --tertiary-light-color: #d689e3;
    --primary-dark-color: #594c9c;
    --secondary-dark-color: #ad67b8;
    --tertiary-dark-color: #7e3e88;
    --accent-red: #fb3640;
    --accent-yellow: #fde74c;
    --accent-green: #33dc67;
    --accent-red-light: #fd6169;
    --accent-yellow-light: #fbeb76;
    --accent-green-light: #5aed87;
    --accent-red-dark: #b6141c;
    --accent-yellow-dark: #bfaa16;
    --accent-green-dark: #10ac40;
    --white-color: #fff;
    --grey-color: #999999;
    --black-color: #110111;
    --background-color: #fdebfe;
    --border-lilac: #e4cae6;
}

body {
    margin: 0;
    font-family: "Bitcount Prop Single", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 500;
    font-variation-settings:
        "slnt" 0, "CRSV" 0, "ELSH" 50, "ELXP" 20
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.is-clickable {
    cursor: pointer;
}
