.page-body {
    width: 100% !important;
}

.modal-card {
    max-width: fit-content;
}


@media only screen and (max-width: 768px) {
    .modal-card-title, .label {
        font-size:1em !important;
        font-weight:500;
    }
}

.header {
    width: 100%;
    padding: 10px 20px;
    box-shadow: 0 2px 8px var(--secondary-dark-color);
}

.home-icon {
    height: 32px;
    width: 32px;
}