.form-result {
    display: inline-block;
    height: 24px;
    width: 24px;
    vertical-align: middle;
    text-align: center;
    line-height: 22px !important;
    margin-right: 4px;
    color: #fff;
    font-weight: 400;
    border-radius: 5px;
    border: 2px solid var(--tertiary-color);
}

.win {
    background: linear-gradient(var(--accent-green-light), var(--accent-green), var(--accent-green-dark));
}

.tie {
    background: linear-gradient(var(--accent-yellow-light), var(--accent-yellow), var(--accent-yellow-dark));
}

.loss {
    background: linear-gradient(var(--accent-red-light), var(--accent-red), var(--accent-red-dark));
}

@media only screen and (max-width: 768px) {
    .form-result {
        height: 18px;
        width: 18px;
        border: 1px solid var(--tertiary-color);
        margin-right: 2px;
    }
}
